files:
  /tmp/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      "/etc/letsencrypt/live/www.derbydashboard.io/fullchain.pem";
          ssl_certificate_key  "/etc/letsencrypt/live/www.derbydashboard.io/privkey.pem";

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
              set $year $1;
              set $month $2;
              set $day $3;
              set $hour $4;
          }
          access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          access_log  /var/log/nginx/access.log  main;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }

  /tmp/renew_cert_cron:
    mode: "000777"
    owner: root
    group: root
    content: |
      # renew Lets encrypt cert with certbot command
      27 2,14 * * * /tmp/certbot-auto renew --renew-hook "service nginx reload"

  /opt/elasticbeanstalk/hooks/postinit/91_ssl.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      # 01. Install certbot & change permissions
      wget https://dl.eff.org/certbot-auto -O /tmp/certbot-auto && chmod a+x /temp/certbot-auto
      # 02. Install ssl certificate
      sudo /tmp/certbot-auto --debug certonly --webroot --webroot-path /var/app/current/public --non-interactive --email derbydashboard@gmail.com --agree-tos --no-eff-email --domains www.derbydashboard.io
      # 03. Move https config file into place since the certs won't exist when environment is created & reload nginx
      sudo mv /tmp/https.conf /etc/nginx/conf.d/https.conf && sudo service nginx reload
      # 04. Create renewal crontab and remove source file
      sudo crontab /tmp/renew_cert_cron && sudo rm /tmp/renew_cert_cron
